.button {
    min-width: 250px;
    border: 0;
}

.button:hover {
    background-Color: rgb(255, 255, 255);
    color: #1a1a1a;
}

.button:active {
    transform: scale(0.98);
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.048);
}
