.board {
    display: grid;
    grid-gap: 10px;
    min-width: 600px;
    min-height: 600px;
}

body {
    display: flex;
}

.score-and-combo-container {
    padding: 0;
    margin: 0;
}

.score-and-combo-container h2, .score-and-combo-container h3 {
    margin: 4px;
}

.board-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
