.board {
    display: grid;
    grid-gap: 10px;
    width: 600px;
    height: 100%;
}

body {
    display: flex;
}

.score-and-combo-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0;
    margin-top: 16px;
}

.score-multiplayer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.turn-player {
    color: green;
    font-weight: bold;
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
}

.score-multiplayer h2 {
    transition: transform 0.3s ease-in-out;
}

.score-multiplayer h2:not(.turn-player) {
    transform: scale(1);
}

.score-and-combo-container h2 {
    margin: 4px;
}

.board-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: stretch;
    position: relative;
    height: 100%;
}

.board-container > :first-child {
    flex-grow: 1;
}

.board-container > :last-child {
    flex-grow: 0;
}

@media (max-width: 600px) {
    .board {
        width: 100%;
    }
}

@media (max-width: 500px) {
    .score-multiplayer h3 {
        font-size: 1em;
    }
}
