.game-board-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1em;
    text-align: center;
    min-height: 150px;
    height: 100vh;
    width: 600px;
    padding: 1em 1em;
}

.game-board-title {
    margin: 0;
    text-shadow: 2px 2px 4px rgba(39, 47, 53, 0.8);
}

@media (max-width: 600px) {
    .game-board-container {
        width: 100vw;
    }
}

@media (max-width: 500px) {
    .game-board-title {
        font-size: 2em;
    }
}
